<%= form_with(model: newbook, local: true) do |form| %>
  <% if newbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newbook.errors.count, "error") %> prohibited this newbook from being saved:</h2>

      <ul>
      <% newbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :Title %>
  </div>

  <div class="field">
    <%= form.label :Body %>
    <%= form.text_area :Body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
