<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newbooks.each do |newbook| %>
      <tr>
        <td><%= newbook.Title %></td>
        <td><%= newbook.Body %></td>
        <td><%= link_to 'Show', newbook,class: "show_#{newbook.id}" %></td>
        <td><%= link_to 'Edit', edit_newbook_path(newbook),class: "edit_#{newbook.id}" %></td>
        <td><%= link_to 'Destroy', newbook, method: :delete, data: { confirm: 'Are you sure?'},class: "destroy_#{newbook.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for(@user) do |f| %>

<h2>New book</h2>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :Title,class: "book_title" %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :Body,class: "book_body" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br>

